<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								PRN
							</div>
							<div class="cell">
								Name
							</div>
							<div class="cell">
								Department
							</div>
							<div class="cell">
								EQScore
							</div>
							<div class="cell">
								CGPA
							</div>
							<div class="cell">
								10th
							</div>
							<div class="cell">
								12th
							</div>
							<div class="cell">
								Backlogs
							</div>
						</div>

						<div class="row" *ngFor="let dataElement of data">
							<div class="cell" data-title="PRN ">
								{{dataElement.prn}}
							</div>
							<div class="cell" data-title="Name">
								{{dataElement.first_name}}
							</div>
							<div class="cell" data-title="Department">
								{{dataElement.branch}}
							</div>
							<div class="cell" data-title="EQScore">
								{{dataElement.twelfth_marks}}
							</div>
							<div class="cell" data-title="CGPA">
								{{dataElement.cgpa}}
							</div>
							<div class="cell" data-title="10th">
								{{dataElement.tenth_marks}}
							</div>
							<div class="cell" data-title="12th">
								{{dataElement.twelfth_marks}}
							</div>
							<div class="cell" data-title="EQScore">
								{{dataElement.backlogs}}
							</div>
						
						</div>

						

					</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>